name: Build and Deploy
on:
  push:
    branches:
      - code
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install and Build
        run: |
          sudo apt install nodejs npm
          sudo npm i -g npx
          npm install
          npx quasar build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.ACCESS_TOKEN }}
          publish_dir: ./dist/spa
          
